.live-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.live-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;

  .card-banner {
    width: 100%;

    .banner-header {
      font-size: 16px;
      font-weight: bold;
      //padding: 10px;
      text-align: center;
      background-color: #f0f0f0;
    }

    .banner-content {
      position: relative;

      .image-container {
        position: relative;
        width: 100%;
        .image-content{

        }

        .top-right-corner-overlay-element {
          position: absolute;
          top: 10px;
          right: 10px;
          background-color: rgba(0, 0, 0, 0.6); /* 半透明背景 */
          color: gold;
          padding: 5px 10px;
          border-radius: 4px;
          font-size: 14px;
        }
        .left-lower-corner-overlay-element{
          position: absolute;
          bottom: 10px;
          left: 10px;
          background-color: rgba(0, 0, 0, 0.1); /* 半透明背景 */
          color: white;
          padding: 5px 10px;
          border-radius: 4px;
          font-size: 14px;
          width: 100%;
        }
      }
    }

    .banner-footer {
      padding: 10px;
      text-align: center;
    }
  }

  .card-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fafafa;

    .ant-avatar {
      margin-right: 10px; /* 头像和文字之间的间距 */
    }

    span {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
